@import url("https://bregonunez.github.io/fonts/fonts.css");
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-title {
  font-family: "lemon-milk";
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 8vmin;
}
/*The <P> is supposed to go here*/
.intro-section {
  position: absolute;
  width: 100%;
  height: 55vh;
  font-family: "lemon-milk";

}

.intro-section p {
  padding: 10px;
  text-align: justify;
  font-size: 5vmin;
}

/*mobile screens get a zoomed and new positioned image*/
@media (max-width: 916px) 
{ 
  .intro-section  .intro-background { background-size: 260%;
    position: absolute;
  width: 100%;
  height: 40vh;
  background-image: url("https://bregonunez.github.io/img/robot.png")  ;
  background-attachment: fixed;
  background-position: 20% -250%;
  background-size:300%;
  z-index: -1;
    } 

    
}

/*desktop screens */
@media (min-width: 916px){
.intro-section .intro-background {
  position: absolute;
  width: 100%;
  height: 40vh;
  background-image: url("https://bregonunez.github.io/img/robot.png");
  background-attachment: fixed;
  background-position: left center;
  background-size: 180%;
  z-index: -1;
}
}


.img-gallery {
  
  width: 80%;
  margin: 55vh auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.img-gallery img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.8s;
  border-radius: 10px;
}

.img-gallery img:hover {
  transform: scale(1.5);
  transition-duration: 0.8s;
  border-radius: 10px;
  z-index: 1;
}

.full-img {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.full-img img {
  width: 90%;
  max-width: 500px;
}

.full-img span {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  cursor: pointer;
}

.rect-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#body-rect-main {
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(0, 0, 0);
}

.body-rect p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  color: rgb(0, 0, 0);
  font-size: 30pt;
  padding: 5px;
  text-align: justify;
}

.body-rect {
  margin: 0 auto;
  background-color: rgb(119, 182, 155);
  width: fit-content;
  height: fit-content;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.body-rect:hover {
  transition: 0.6s;
  box-shadow: 20px 20px 1px black;
}

.body-rect .img-rect {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
